<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FaceManageDisplayIndex" value="0"/>
		<add key="Theme" value="Dark"/>
		<add key="IsCustomizedAccentColor" value="True"/>
		<add key="CustomizedAccentColor" value="#6B69D6"/>
		<add key="Backdrop" value="Mica"/>
	</appSettings>
</configuration>