<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AutoStart" value="False"/>
		<add key="AutoStartMinimized" value="False"/>
		<add key="TrayEnabled" value="False"/>
		<add key="AutoCheckUpdate" value="False"/>
		<add key="Theme" value="Dark"/>
		<add key="IsCustomizedAccentColor" value="False"/>
		<add key="CustomizedAccentColor" value="#0091F8"/>
		<add key="Backdrop" value="Mica"/>
		<add key="IsAdministrator" value="False"/>
	</appSettings>
</configuration>